@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row">
    <div class="col-2">
        <div class="card" style="width: 10rem;">
            <img class="card-img-top" src="~/Images/smartphone.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Mobiles & Tablets</h5>
                <p class="card-text">Let's get started, click the below category and make a move like a boss.</p>
                <a class="btn btn-primary" href="@Url.Action("ADCategories", "Products" , new {category="Mobiles and Tablets"})">Post an AD</a>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card" style="width: 10rem;">
            <img class="card-img-top" src="~/Images/decorating.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Furnitures & Decors</h5>
                <p class="card-text">Let's get started, click the below category and make a move like a boss.</p>
                <a class="btn btn-primary" href="@Url.Action("ADCategories", "Products" , new {category="Furniture and Decors"})">Post an AD</a>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card" style="width: 10rem;">
            <img class="card-img-top" src="~/Images/electric-appliance.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Home Appliances</h5>
                <p class="card-text">Let's get started, click the below category and make a move like a boss.</p>
                <a class="btn btn-primary" href="@Url.Action("ADCategories", "Products" , new {category="Home Appliances"})">Post an AD</a>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card" style="width: 10rem;">
            <img class="card-img-top" src="~/Images/electric-car.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">AutoMobiles & E-Vehicles</h5>
                <p class="card-text">Let's get started, click the below category and make a move like a boss.</p>
                <a class="btn btn-primary" href="@Url.Action("ADCategories", "Products" , new {category="AutoMobiles"})">Post an AD</a>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card" style="width: 10rem;">
            <img class="card-img-top" src="~/Images/computer-desktop.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Computer & Accessories</h5>
                <p class="card-text">Let's get started, click the below category and make a move like a boss.</p>
                <a class="btn btn-primary" href="@Url.Action("ADCategories", "Products" , new {category="Computer and Accessories"})">Post an AD</a>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card" style="width: 10rem;">
            <img class="card-img-top" src="~/Images/guitar.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Musical Instruments</h5>
                <p class="card-text">Let's get started, click the below category and make a move like a boss.</p>
                <a class="btn btn-primary" href="@Url.Action("ADCategories", "Products" , new {category="Musical Instruments"})">Post an AD</a>
            </div>
        </div>
    </div>
</div>